.header {
    width: 100%;
    height: map-get($header-heights, "pc");
    padding: 23px 25px 15px 23px;
    display: flex;
    justify-content: space-between;
    outline: 1px solid #000;
    &__left {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__title {
        font-family: "メイリオ", "Meiryo", sans-serif;
        font-weight: 400;
        letter-spacing: 0em;
        margin-bottom: 5px;
        word-break: keep-all;
    }
    &__logo {
        width: 230px;
        height: 85px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }
    &__info {
        display: flex;
        justify-content: end;
        margin-bottom: 14px;
    }
    &__phone {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        &Title {
            font-family: "メイリオ", "Meiryo", sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: calc(23 / 15);
            width: 210px;
            height: 27px;
            @include flex-center;
            border: 1px solid #2e200e;
        }
        &Number {
            font-size: 28px;
            letter-spacing: 0.1em;
        }
    }
    &__hours {
        padding-left: 16px;
    }
    &__notice {
        font-family: "Hiragino Sans", sans-serif;
        font-weight: 300;
        letter-spacing: 0em;
        line-height: calc(21 / 16);
        text-align: right;
        margin-bottom: 5px;
        padding-left: 37px;
    }
    &__opening,
    $__closure {
        letter-spacing: 0.1em;
    }

    &__navItems {
        display: flex;
        justify-content: end;
    }
    &__navItem {
        text-align: center;
        width: calc-vw(128, 1540);
        margin-left: 10px;
        @include xl {
            width: 128px;
        }
        &--en {
            font-family: "Hiragino Mincho ProN", sans-serif;
            font-weight: 300;
            font-size: calc-vw(20, 1540);
            letter-spacing: 0.1em;
            line-height: calc(27 / 20);
            @include xl {
                font-size: 20px;
            }
        }
        &--jp {
            font-size: calc-vw(16, 1540);
            @include xl {
                font-size: 16px;
            }
        }
    }
}
