@charset "UTF-8";
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Yu Gothic",  sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: calc(21 / 16);
  font-style: normal;
  overflow-x: hidden;
}

@media screen and (max-width: 598px) {
  body {
    font-size: 14px;
  }
}

section {
  margin-bottom: 100px;
}

@media screen and (max-width: 598px) {
  section {
    margin-bottom: 60px;
  }
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .inner {
    width: 90%;
  }
}

@media screen and (max-width: 598px) {
  .inner {
    width: calc(100vw - 30px);
  }
}

.is-shown-tab {
  display: none;
}

@media screen and (max-width: 1260px) {
  .is-shown-tab {
    display: block !important;
  }
}

.is-shown-tab-only {
  display: none;
}

@media screen and (max-width: 1260px) {
  .is-shown-tab-only {
    display: block !important;
  }
}

@media screen and (max-width: 598px) {
  .is-shown-tab-only {
    display: none !important;
  }
}

.is-shown-sp {
  display: none;
}

@media screen and (max-width: 598px) {
  .is-shown-sp {
    display: block !important;
  }
}

@media screen and (max-width: 1260px) {
  .is-hidden-tab {
    display: none !important;
  }
}

@media screen and (max-width: 598px) {
  .is-hidden-sp {
    display: none !important;
  }
}

.header {
  width: 100%;
  height: 167px;
  padding: 23px 25px 15px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: 1px solid #000;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__title {
  font-family: "メイリオ", "Meiryo", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom: 5px;
  word-break: keep-all;
}

.header__logo {
  width: 230px;
  height: 85px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 14px;
}

.header__phone {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__phoneTitle {
  font-family: "メイリオ", "Meiryo", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: calc(23 / 15);
  width: 210px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2e200e;
}

.header__phoneNumber {
  font-size: 28px;
}

.header__hours {
  padding-left: 16px;
}

.header__notice {
  font-family: "Hiragino Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: calc(21 / 16);
  text-align: right;
  margin-bottom: 5px;
  padding-left: 37px;
}

.header__navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__navItem {
  text-align: center;
  width: 8.31169vw;
  margin-left: 10px;
}

@media screen and (min-width: 1400px) {
  .header__navItem {
    width: 128px;
  }
}

.header__navItem--en {
  font-family: "Hiragino Mincho ProN", sans-serif;
  font-weight: 300;
  font-size: 1.2987vw;
  line-height: calc(27 / 20);
}

@media screen and (min-width: 1400px) {
  .header__navItem--en {
    font-size: 20px;
  }
}

.header__navItem--jp {
  font-size: 1.03896vw;
}

@media screen and (min-width: 1400px) {
  .header__navItem--jp {
    font-size: 16px;
  }
}

.footer {
  position: relative;
  background-color: #FFCF8D;
}

.footer__map {
  width: 100vw;
  height: 544px;
}

.footer__link {
  text-align: center;
  width: 193px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 48px;
}

.footer__link--recruit {
  color: #fff;
  background-color: #1f2522;
  padding-left: 38px;
  top: 383px;
}

.footer__link--recruit p {
  font-family: "メイリオ", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: calc(23 / 15);
}

.footer__link--recruit span {
  font-family: "Hiragino Mincho ProN", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: calc(27 / 20);
}

.footer__link--reserve {
  background-color: #fff;
  border: 1px solid #172d22;
  padding-left: 16px;
  top: 457px;
}

.footer__link--reserve figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link--reserve figure img {
  width: 38px;
  height: 23px;
  margin-right: 18px;
}

.footer__inner {
  padding: 40px 39px 19px 27px;
}

.footer__upper {
  margin-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__address {
  margin-right: 20px;
}

.footer__insta {
  width: 41px;
  height: 41px;
}

.footer__lower {
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__nav {
  width: 359px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */