.pageTop {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 337px;
    padding: 56px 0 1em;
    margin-top: 32px;
    @include sp {
        padding-top: 40px;
        margin-top: 10px;
    }
    &__title,
    &__subtitle,
    &__message {
        text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    }
    &__title {
        font-family: "Dancing Script", cursive;
        font-size: 50px;
        font-weight: 600;
        padding: 0 70px 2px 0;
        border-bottom: 1px solid $letter-color;
        margin-bottom: 13px;
        display: inline-block;
        @include sp {
            font-size: 40px;
        }
    }
    &__subtitle {
        margin-bottom: 15px;
    }
    &__message {
        width: 40%;
        @include sp {
            width: 100%;
        }
    }
}

// menuページの場合
.page-id-9 {
    .pageTop {
        margin-bottom: 50px;
    }
}
