.topColona {
    &__inner {
        margin-bottom: 38px;
    }
    &__contentsWrapper {
        width: 1000px;
        border: 1px solid #2e200e;
        padding: 46px 81px 42px 46px;
        margin: 0 auto;
        position: relative;
        &::before,
        &::after {
            content: "";
            width: 145px;
            height: 1px;
            background-color: #2E200E;
            display: block;
            transform: rotate(-45deg);
            position: absolute;
        }
        &::before {
            top: 35px;
            left: -37px;
            // top: 15px;
            // left: -15px;
        }
        &::after {
            // right: -15px;
            // bottom: 15px;
            right: -37px;
            bottom: 35px;
        }
    }
    &__title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 37px;
    }
    &__contents {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        row-gap: 26px;
    }
    &__body {
        width: 450px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    &__thumb {
        width: 420px;
        height: 192px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__icons {
        padding: 0 35px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: space-between;
        img {
            object-fit: contain;
            width: 70px;
            height: 70px;
        }
    }
    &__message {
        text-align: center;
        margin-bottom: 18px;
    }
}
