.topColona {
    &__inner {
        width: 1018px;
        padding: 9px;
        margin-bottom: 38px;
        @include tab {
            width: map-get($inner-width, "tab");
            max-width: 1018px;
        }
        @include sp {
            width: map-get($inner-width, "sp");
            margin-bottom: 30px;
        }
    }
    &__contentsWrapper {
        background-color: #fff;
        width: 100%;
        padding: calc-percent(46, 1000) calc-percent(81, 1000) calc-percent(42, 1000) calc-percent(46, 1000);
        margin: 0 auto;
        position: relative;
        @include sp {
            width: 100%;
            padding: 126px 20px 20px;
        }
    }
    $inner-width-sp: 293px;
    &__title {
        font-size: 18px;
        line-height: calc(24 / 18);
        letter-spacing: 0.01em;
        text-align: center;
        margin-bottom: 37px;
        @include sp {
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            line-height: calc(19 / 14);
            max-width: $inner-width-sp;
            margin: 0 auto 5px;
            padding-left: 10px;
        }
    }
    &__contents {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        row-gap: 26px;
        @include tab {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
        }
        @include sp {
            max-width: $inner-width-sp;
            margin: 0 auto;
            grid-template-columns: 1fr;
            row-gap: 24px;
        }
    }
    &__body {
        letter-spacing: 0.01em;
        width: 450px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        @include tab {
            font-size: 14px;
            width: 100%;
        }
        @include sp {
            font-size: 13px;
            line-height: calc(17 / 13);
            grid-row: 1 / 2;
        }
    }
    &__thumb {
        width: 360px;
        height: 241px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        @include tab {
            width: 100%;
        }
        @include sp {
            max-width: $inner-width-sp;
            height: 168px;
            margin: 0 auto 20px;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__icons {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: space-between;
        @include tab {
            padding: 0;
        }
        @include sp {
            padding: 0;
            width: 100%;
            grid-column: 1/2;
        }
        img {
            object-fit: contain;
            width: 70px;
            height: 70px;
        }
    }
    &__message {
        text-align: center;
        margin-bottom: 18px;
        @include sp {
            font-size: 13px;
            margin-bottom: 5px;
        }
    }
    &__deco {
        width: 318px;
        position: absolute;
        top: 0;
        right: 0;
        @include sp {
            width: 100%;
            max-width: 318px;
        }
        img {
            width: 100%;
        }
    }
}
