.topGallery {
    &__inner {
        margin-bottom: 16px;
        @include sp {
            margin-bottom: 0;
        }
    }
}
#sbi_images {
    min-height: 341px;
    position: relative;
    @include tab {
        min-height: 70%;
        padding: 5px !important;
    }
    @include sp {
        min-height: 87px;
        display: flex;
        flex-direction: column;
    }
    &::before,
    &::after {
        content: "";
        width: 831px;
        height: 341px;
        display: block;
        position: absolute;
        @include tab {
            width: 70%;
            height: 70%;
        }
        @include sp {
            width: calc-vw(250, 375);
            height: 87px;
        }
    }
    &::before {
        top: 0;
        right: 0;
        border-top: 1px solid $letter-color;
        border-right: 1px solid $letter-color;
    }
    &::after {
        bottom: 0;
        left: 0;
        border-bottom: 1px solid $letter-color;
        border-left: 1px solid $letter-color;
    }
}
.sbi_item {
    @include sp {
        width: 100% !important;
    }
}
