.topGallery {
    &__inner {
        margin-bottom: 16px;
        @include sp {
            margin-bottom: 0;
        }
    }
    &__title {
        margin-bottom: 28px;
        @include sp {
            margin-bottom: 18px;
        }
    }
    #sbi_images {
        position: relative;
        @include tab {
            padding: 5px !important;
        }
        @include sp {
            display: flex;
            flex-direction: column;
        }
        &::before,
        &::after {
            content: "";
            width: 831px;
            height: 341px;
            display: block;
            position: absolute;
            @include tab {
                width: 70%;
                height: 70%;
            }
            @include sp {
                width: calc-vw(250, 375);
                height: 87px;
            }
        }
        &::before {
            top: 0;
            right: 0;
            border-top: 1px solid #2e200e;
            border-right: 1px solid #2e200e;
        }
        &::after {
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #2e200e;
            border-left: 1px solid #2e200e;
        }
    }
    .sbi_item {
        @include sp {
            width: 100% !important;
        }
    }
}
